<div class="b-menu" data-menu-hover data-close-burger>
  <div class="bg-tranlate-to-inner">
    <span class="bg-tranlate-to-inner__one"></span>
    <span class="bg-tranlate-to-inner__two"></span>
    <span class="bg-tranlate-to-inner__three"></span>
  </div>
  <div class="b-menu__wrp">
    <div class="b-menu__imgs">
      {#
      <div class="b-menu__img" data-menu-hover-img>
        <img src="{{ url.step1 }}img/burger/1.jpg" alt="image">
      </div>
      #}
      <div class="b-menu__img" data-menu-hover-img>
        <img src="{{ url.step1 }}img/burger/2.jpg" alt="image">
      </div>
      <div class="b-menu__img" data-menu-hover-img>
        <img src="{{ url.step1 }}img/burger/3.jpg" alt="image">
      </div>
    </div>
    <div class="b-menu__content">
      <div class="b-menu__subtitle">
        <h3>Meet Mongolia</h3>
      </div>
      <div class="b-menu__text t-menu {{ url.stepClass }}">
        
        {#<span>Explore the untapped potential for </span>
        <a class="t-menu__one js-hover" data-cursor-moving data-menu-hover-btn
          data-link-src="SSSSSVALUEARTICLE"
          href="{{ url.step2 }}life-on-the-move{{ url.step3 }}">
          <span>Adventure</span>
          <div class="t-menu__cursor" data-cursor-moving-btn>
            <img src="{{ url.step1 }}img/ic-arrow-circle-right.png" alt="image">
          </div>
        </a><span>, a dynamic</span>#}

        <span>Explore the untapped potential for Adventure, a dynamic</span>
        <a href="{{ url.step2 }}untapped-potential{{ url.step3 }}"
          class="t-menu__two js-hover"
          data-cursor-moving data-menu-hover-btn
          data-link-src="one">
          <span>Business</span>
          <div class="t-menu__cursor" data-cursor-moving-btn>
            <img src="{{ url.step1 }}img/ic-arrow-circle-right.png" alt="image">
          </div>
        </a>
        <span>landscape, and the</span>
        <a href="{{ url.step2 }}life-on-the-move{{ url.step3 }}"
          class="t-menu__three js-hover"
          data-cursor-moving data-menu-hover-btn
          data-link-src="two">
          <span>Culture</span>
          <div class="t-menu__cursor" data-cursor-moving-btn>
            <img src="{{ url.step1 }}img/ic-arrow-circle-right.png"
              alt="image">
          </div>
        </a>
        <span>of a progressive nation</span>
      </div>
    </div>
  </div>
</div>
